@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
    --White: #fff;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(/src/assets/bg-desktop.svg);
    background-repeat: no-repeat;
    background-color: var(--Violet);
    background-position: left center;
}
main {
    padding: 2rem 0;
}
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
    padding: 0 .5rem;
}
.mid_content {
    display: flex;
    margin: 50px auto;
}
.main_image {
    display: block;
    max-width: 685px;
}
.text {
    padding: 2.9rem 2rem 0 3.2rem;
}
.text h1 {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    color: var(--White);
    padding-bottom: 1.2rem;
}
.text h1 span {
    display: block;
}
.text p {
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
    line-height: 1.35rem;
    color: var(--White);
} 
#registerBtn {
    font-family: 'Poppins', sans-serif;
    color: var(--Violet);
    margin-top: 1.5rem;
    padding: 0.8rem 3.4rem;
    border-radius: 30px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    font-weight: 400;
}
#registerBtn:hover {
    background: var(--Soft-Magenta);
    color: var(--White);
}
.social_links {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
.fa-brands {
    font-size: .8rem;
    color: var(--White);
    border: 1px solid var(--White);
    border-radius: 50%;
    padding: 0.6rem;
}
.fa-brands:hover {
    color: var(--Soft-Magenta);
    border: 1px solid var(--Soft-Magenta);
}
.atributtion {
    display: none;
    font-size: .8rem;
    color: var(--White);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.atributtion a {
    color: hsl(228, 45%, 44%);
    text-decoration: underline;
    font-weight: 600;
    margin-left: .2rem; 
}
@media (max-width: 759px) {
    body {
        background-image: url(./assets/bg-mobile.svg);
        background-repeat: no-repeat;
        background-position: top 2px right 2px;
    }
    .container {
        max-width: 759px;
    }
    .logo_image {
        max-width: 100px;
    }
    .mid_content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text {
        margin-top: 1.7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text p {
        max-width: 190px;
        text-align: center;
    }
    #registerBtn {
        padding: .5rem 3.5rem
    }
    .social_links {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}   

@media (min-width: 760px) {
    .container {
        max-width: 760px;
    }
}
@media (max-width: 1032px) {
    .main_image {
        width: 360px;
    }
    .text {
        padding: 1rem 3rem;
    }
    .text h1 {
        font-size: 1.1rem;
    }
    .text p {
        font-size: .63rem;
        line-height: 1.1rem;
    }
}
@media (min-width: 1033px) {
    .container {
        max-width: 1033px;
    }
}

@media (max-width: 1199px) {
    .main_image {
        display: block;
        max-width: 500px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
} 

